<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
</head>

<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> --> -->

<body>
<!-- <div class="w3-container"> -->

<!-- <body>
    <div class="w3-bar w3-black">
  <a href="/products/type/vopsele-oxidanti" class="w3-bar-item w3-button">Vopsele-Oxidanti</a>
  <a href="/products/type/sampon" class="w3-bar-item w3-button">Sampon</a>
  <a href="/products/type/balsam" class="w3-bar-item w3-button">Balsam</a>
  <a href="/products/type/masti-par" class="w3-bar-item w3-button">Masti de Par</a>
  <a href="/products/type/seturi" class="w3-bar-item w3-button">Seturi</a>
  <a href="/products/type/perii-par" class="w3-bar-item w3-button">Perii par</a>
  <a href="/products/type/machiaj" class="w3-bar-item w3-button">Machiaj</a>
  <a href="/products/type/promotii" class="w3-bar-item w3-button">Promotii</a>
  <a href="/products/type/ingrijire-ten" class="w3-bar-item w3-button">Ingrijire ten</a>
  <a href="/products/type/ingrijire-maini" class="w3-bar-item w3-button">Ingrijire maini</a>
  <a href="/products/type/ingrijire-corp" class="w3-bar-item w3-button">Ingrijire corp</a>
</div> -->

<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a href="/shopping-cart">SHOP NOW</a></li>
      <li><a href="/products/type/vopsele-oxidanti">Vopsele-Oxidanti</a></li>
      <li><a href="/products/type/sampon">Sampon</a></li>
      <li><a href="/products/type/balsam">Balsam</a></li>
      <li><a href="/products/type/masti-par">Masti de Par</a></li>
      <li><a href="/products/type/promotii">Promotii</a></li>
      <li><a href="/products/type/perii-par">Perii de Par</a></li>
      <li><a href="/products/type/machiaj">Machiaj</a></li>
      <li><a href="/products/type/ingrijire-corp">Ingrijire corp</a></li>
    </ul>
  </div>
  <!-- <div id='center' class="main center">

    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
  </div> -->

<!-- ## FAC CSS SA-MI PRINTEZE TOATE PARAGRAFELE IN CENTRU
## functie care pune la promotie primele 10 produse cu cel mai mic pret -->
<!-- <div class="box-1">
  <a href="/shopping-cart" class="btn btn-one">
    <span>Shop now</span>
</a>
</div> -->

{% for id, name, type, in_stock, company, price, quantity in products %}
    <h1>
        <p> Name:{{name}} </p>
        <p> Products left: {{quantity}}</p>
        <p> Company: {{company}}
        <p> Price:{{price}} lei </p>
    </h1>
{% endfor %}
</body>
</html>
